<library path="lai_franka_controllers">
  <class name="lai_franka_controllers/CartesianVelocityController" 
         type="lai_franka_controllers::CartesianVelocityController" 
         base_class_type="controller_interface::ControllerInterface">
    <description>
      Cartesian Velocity Controller using Pinocchio and Eigen.
    </description>
  </class>

  <class name="lai_franka_controllers/HqpCartesianVelocityController" 
         type="lai_franka_controllers::HqpCartesianVelocityController" 
         base_class_type="controller_interface::ControllerInterface">
    <description>
      Hierarchical QP Cartesian Velocity Controller using Gurobi and FrankaKinematics.
    </description>
  </class>

  <class name="lai_franka_controllers/JointPdVelocityController" 
         type="lai_franka_controllers::JointPdVelocityController" 
         base_class_type="controller_interface::ControllerInterface">
    <description>
      Low-level Joint PD Feedforward Controller with ZOH capabilities.
    </description>
  </class>
</library>